* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.container {
  width: 1360px;
  margin: 0 120px;
  height: 100%;
}

.title {
  font-family: "Quicksand";
  font-size: 56px;
  line-height: normal;
  font-weight: 700;
}

.logotype {
  background-image: url("../img/svg/logo.svg");
  width: 336px;
  height: 121px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header-body_desc {
  width: 1018px;
  margin-top: 220px;
}
.header-body_desc br {
  display: none;
}

.br-secnd {
  display: none;
}

.hero-section {
  position: relative;
  height: 961px;
}
.hero-section .spot {
  position: absolute;
  background-image: url("../img/svg/spot.svg");
  background-repeat: no-repeat;
  width: 831px;
  height: 961px;
  left: 0px;
  z-index: -1;
}

.header .lamp {
  background-image: url("../img/svg/lamp.svg");
  background-repeat: no-repeat;
  width: 139px;
  height: 468px;
  position: absolute;
  top: -55px;
  left: 1175px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 1;
}
.header .lamp:hover {
  background-image: url("../img/svg/lamp-hover.svg");
  background-repeat: no-repeat;
  width: 139px;
  height: 468px;
}
.header .clock {
  position: absolute;
  top: 371px;
  left: 1347px;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_nav_logo {
  background-image: url("../img/svg/logo.svg");
  width: 336px;
  height: 121px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  margin-top: 53px;
  margin-right: 211px;
}
.header_nav_logo:hover {
  background-image: url("../img/svg/logo_hover.svg");
}
.header_nav_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: relative;
  z-index: 3;
  text-transform: uppercase;
}
.header_nav_list ul li:not(:last-child) {
  margin-right: 84px;
}
.header_nav_list ul li a {
  color: #000;
  font-family: "Open Sans";
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}
.header_nav_list ul li a:active {
  color: #F00;
}
.header-body .subtitle {
  color: #FFF;
  font-family: "Quicksand";
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}
.header-body .women {
  background-image: url("../img/svg/body_svg.svg");
  width: 488px;
  height: 324px;
  position: absolute;
  top: 525px;
  left: 990px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header-body .women:hover {
  background-image: url("../img/svg/body_svg_hover.svg");
  width: 488px;
  height: 324px;
}

.awards .container .null {
  width: 100px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 870px;
}
.awards .container .title {
  text-align: center;
  margin-top: 125px;
  position: relative;
}
.awards .container .title span {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.awards .container .title span:after {
  content: url("../img/svg/dashicons_awards.svg");
  position: absolute;
  -webkit-transform: translate(10px, 5px);
          transform: translate(10px, 5px);
}
.awards .container .title span:hover {
  color: #FF0057;
}
.awards .container .title span:hover:after {
  content: url("../img/svg/dashicons_awards_hover.svg");
}

.awards-wrapper .awards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.awards-wrapper .awards-inner .awards-list {
  font-family: "Quicksand";
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 95px;
}
.awards-wrapper .awards-inner .awards-list_1:before {
  content: url("../img/svg/red-square.svg");
  margin-right: 23px;
}
.awards-wrapper .awards-inner .awards-list_2 {
  width: 868px;
  margin-right: 15px;
}
.awards-wrapper .awards-inner .awards-list_2:before {
  content: url("../img/svg/gray-square.svg");
  margin-right: 23px;
}
.awards-wrapper .awards-inner .awards-list_3:before {
  content: url("../img/svg/green-square.svg");
  margin-right: 23px;
}
.awards-wrapper .awards-inner .awards-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 94px;
}
.awards-wrapper .awards-inner .awards-img_1 {
  margin-right: 70px;
  background-image: url("../img/svg/california.svg");
  background-repeat: no-repeat;
  width: 172px;
  height: 223px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.awards-wrapper .awards-inner .awards-img_1:hover {
  background-image: url("../img/svg/california_hover.svg");
  width: 191px;
  height: 223px;
}
.awards-wrapper .awards-inner .awards-img_2 {
  background-image: url("../img/svg/fresnostate.svg");
  width: 201px;
  height: 201px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.awards-wrapper .awards-inner .awards-img_2:hover {
  background-image: url("../img/svg/fresnostate_hover.svg");
  width: 215px;
  height: 215px;
}

.provides {
  background-image: url("../img/svg/spotmini.svg");
  background-repeat: no-repeat;
  background-position-x: 1300px;
  background-position-y: 20px;
  margin-top: 62px;
}

.provides-wrapper {
  margin-top: 211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
  position: relative;
}
.provides-wrapper .provides-inner .provides-title {
  font-family: "Quicksand";
  font-size: 39px;
  font-weight: 700;
}
.provides-wrapper .provides-inner .provides-title span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.provides-wrapper .provides-inner .provides-title span:hover {
  color: #C51230;
}
.provides-wrapper .provides-inner .provides-list {
  font-family: "Quicksand";
  font-size: 29px;
  line-height: normal;
}
.provides-wrapper .provides-inner .provides-list_1 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.provides-wrapper .provides-inner .provides-list_2 {
  margin-top: 24px;
  width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.provides-list_1::before {
  display: inline-block;
  content: url("../img/svg/fluent_checkmark-square-24-regular.svg");
  margin-right: 15px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.provides-list_2::before {
  display: inline-block;
  content: url("../img/svg/fluent_checkmark-square--regular.svg");
  margin-right: 15px;
}

.provides_continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.provides_continue .provides-wrapper_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.provides_svg {
  background-image: url("../img/svg/provides.svg");
  background-repeat: no-repeat;
  width: 670px;
  height: 440px;
  margin-top: 177px;
}

.provides_photo {
  background-image: url("../img/svg/womanbook.svg");
  background-repeat: no-repeat;
  width: 502px;
  height: 564px;
}

.provides_enum {
  font-family: "Quicksand";
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
}
.provides_enum_1 {
  width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.provides_enum_1::before {
  content: url("../img/svg/red-square.svg");
  margin-right: 12px;
}
.provides_enum_2 {
  width: 700px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.provides_enum_2::before {
  content: url("../img/svg/gray-square.svg");
  margin-right: 12px;
}
.provides_enum_3 {
  width: 700px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.provides_enum_3:before {
  content: url("/img/svg/green-square.svg");
  margin-right: 12px;
}

.programe-title {
  font-family: "Quicksand";
  font-size: 46px;
  font-weight: 700;
  margin-top: 192px;
  text-align: center;
  text-transform: uppercase;
}
.programe-title span {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.programe-title span:hover {
  color: #C51230;
}

.price-wrapper .container .price-inner {
  margin-top: 122px;
  border-radius: 42px;
  background-color: #9D78FC;
  height: 738px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price-wrapper .container .price-inner .price-title {
  color: #FFF;
  font-family: "Quicksand";
  font-size: 85px;
  font-weight: 700;
  margin-top: 29px;
}
.price-wrapper .container .price-inner .price-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 59px;
}
.price-wrapper .container .price-inner .price-imgs .price-img_1 {
  margin-right: 47px;
}

.footer {
  min-width: 1500px;
  background-color: #9D78FC;
}
.footer_wrapper {
  height: 410px;
  margin-top: 120px;
  width: 100%;
}
.footer_wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer_wrapper .container .designer,
.footer_wrapper .container .designer-gmail,
.footer_wrapper .container .footer_contact_list_pp {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
}
.footer_wrapper .container .designer {
  margin-top: 13px;
}
.footer_wrapper .container .designer-gmail {
  margin-top: 7px;
}
.footer_wrapper .container .footer_contact_list_pp {
  margin-top: 10px;
}
.footer_wrapper .container .logo {
  margin-top: 40px;
  margin-right: 528px;
}
.footer_wrapper .container .logo .logotype {
  background-image: url("../img/svg/logo.svg");
  width: 336px;
  height: 121px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.footer_wrapper .container .logo .logotype:hover {
  background-image: url("../img/svg/logo_hover.svg");
}
.footer_contact_title {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 40px;
  margin-top: 45px;
}
.footer_contact_list {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
}
.footer_contact_list_mail {
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_contact_list_mail:before {
  content: url("../img/svg/mail.svg");
  margin-right: 15px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.footer_contact_list_fb {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_contact_list_fb:before {
  content: url("../img/svg/fb.svg");
  margin-right: 15px;
}
.footer_contact_list_inst {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_contact_list_inst:before {
  content: url("../img/svg/inst.svg");
  margin-right: 15px;
}

@media (max-width: 1000px) {
  .container {
    width: 960px;
    margin: 0 20px;
    height: 100%;
  }
  .container .header_nav_logo {
    margin-right: 71px;
    margin-top: 64px;
  }
  .container .header_nav_list ul li:not(:last-child) {
    margin-right: 44px;
  }
  .hero-section .spot {
    left: -226px;
  }
  .header-body_desc {
    width: 793px;
    height: 201px;
    font-size: 53px;
    margin-top: 192px;
  }
  .header-body_desc br {
    display: initial;
  }
  .header .lamp {
    background-image: url("../img/adaptive/adaptive_1000px/lamp.svg");
    width: 139px;
    height: 463px;
    left: 812px;
    top: 0;
  }
  .header .clock {
    display: none;
  }
  .header .header-body .subtitle {
    width: 487px;
    height: 89px;
    margin-top: 31px;
  }
  .header .header-body .subtitle .br-first {
    display: none;
  }
  .header .header-body .subtitle .br-secnd {
    display: initial;
  }
  .header .header-body .women {
    background-image: url("../img/adaptive/adaptive_1000px/women.svg");
    width: 350px;
    height: 232px;
    left: 629px;
  }
  .awards .container .title {
    margin-top: 115px;
  }
  .awards-wrapper .awards-inner .awards-list {
    margin-top: 91px;
  }
  .awards-wrapper .awards-inner .awards-img {
    margin-top: 56px;
  }
  .awards-wrapper .awards-inner .awards-img_1 {
    background-image: url("../img/adaptive/adaptive_1000px/california.svg");
    width: 229px;
    height: 254px;
    pointer-events: none;
  }
  .awards-wrapper .awards-inner .awards-img_2 {
    background-image: url("../img/adaptive/adaptive_1000px/fresno.svg");
    width: 254px;
    height: 254px;
    pointer-events: none;
  }
}