@media (max-width:1451px) {
    .header_nav_logo {
        margin-right: 195px;
    }

    .lamp {
        left: 990px;
    }

    .clock {
        left: 1041px;
    }
}


@media (max-width:1423px) {
    .header-body_desc {
        max-width: 823px;

    }

    .lamp {
        left: 970px;
    }

    .lamp:after {
        right: -110px;
    }

}

@media (max-width:1354px) {
    .lamp::after {
        display: none;
    }

    .provides .spot-mini {
        width: 281px
    }

    .women {
        right: -120px;
    }
}

@media (max-width:1300px) {
    .header_nav_logo {
        margin-right: 171px;
    }

    .lamp {
        left: 935px;

    }

    .hero-section .spot {
        left: -142px;
    }

    .spot-mini {
        right: -99px;
    }

    .header-body .women {
        right: -85px;
    }
}


@media (max-width:1200px) {
    .container {
        padding: 0 100px;
    }

    .header_nav_logo {
        margin-right: 145px;
    }

    .lamp {
        left: 888px;
    }

    .hero-section .spot {
        left: -161px;
    }

    .provides_photo {
        margin-top: 70px;
    }

    .header-body .subtitle {
        font-size: 21.5px;
    }

    .women {
        right: -100px;
    }

    .provides .spot-mini {
        width: 250px;
        right: -100px;
    }

}

@media (max-width:1151px) {

    .provides .spot-mini {
        width: 230px;
    }

    .lamp {
        left: unset;
        right: -100px;
    }

    .women {
        top: 570px;
    }
}

@media (max-width:1114px) {
    .hero-section .spot {
        left: -200px;
    }

    .header_nav_logo {
        margin-right: 100px;
    }

    .header-body_desc {
        font-size: 54px;
    }
}

//==========================================================================

@media (max-width:1024.98px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;


        .header_nav_logo {
            margin-right: 97px;
            margin-top: 64px;
        }

        .header_nav_list ul li:not(:last-child) {
            margin-right: 8.4%; // margin-right: 44px;
        }

    }

    .hero-section .spot {
        left: -217px;
    }

    .header-body {
        margin-top: 192px;
    }

    .header-body_desc {
        font-size: 53px;
        max-width: 789px;
    }

    .lamp {
        background-image: url('../img/adaptive/adaptive_1000px/lamp.svg');
        width: 139px;
        height: 468px;
        top: 0;
        right: 0;
    }

    .women {
        top: 625px;
        right: -20px;
    }

    .header-body {
        .subtitle {
            margin-top: 31px;
            width: 53%;
            min-width: 400px;
            font-size: 22px;
        }
    }

    .awards {
        .title {
            margin-top: 115px;
        }
    }

    .awards-inner {
        flex-direction: column;

        .awards-list {
            margin-top: 91px;

            &_2 {
                margin-right: 0;
            }
        }

        .awards-img {
            margin-top: 56px;
            width: 100%;
            justify-content: center;

            &_1 {
                pointer-events: none;
            }

            &_2 {
                pointer-events: none;
            }
        }
    }

    .provides {
        max-width: 100%;
        min-height: 100%;

        .spot-mini {
            width: 209px;
            right: -20px;
            top: 175px;
        }

        .provides-wrapper {
            flex-direction: column-reverse;
            margin-top: 246px;

            .provides-title {
                margin-left: 163px;
            }

            .provides_photo {
                margin-top: 65px;
            }
        }
    }

    .provides-wrapper_2 {
        flex-wrap: wrap;
    }


    .programe-title {
        margin-top: 101px;
    }

    .provides_enum_1 {
        margin-top: 70px;
    }

    .provides-wrapper_svg {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 84px;
    }

    .provides_img {
        display: flex;
        width: 100%;
        justify-content: right;

    }

    .price-inner {
        margin-top: 155px;
    }

    .footer_wrapper {
        .container {
            width: 100%;
        }
    }
}

@media (max-width:968.98px) {

    .lamp,
    .women {
        display: none;
    }
}

@media (max-width:845.98px) {
    .container .header_nav_logo {
        margin-right: 38px;
    }

    .header_nav_list ul a {
        font-size: 17px;
    }

    .hero-section .spot {
        left: -260px;
    }

    .header-body_desc {
        min-width: 0;
    }

    .provides .provides-wrapper .provides-title {
        margin-left: 0;
        text-align: center;
    }

    .provides .spot-mini {
        display: none;
    }
}

//==================================================================================//

@media (max-width:768.98px) {
    .container {
        max-width: 768px;
        padding: 0 64px;
        transition: 0.2s ease-out;
    }

    .hero-section {
        height: 869px;
    }

    .hero-section .spot {
        left: -64px;
        background-image: url('../img/svg/spotexample.svg');
        width: 498px;
    }

    .container .header_nav_logo {
        margin-top: 40px;
        background-image: none;
        height: 100%;
        min-width: 0;

        img {
            display: block;
        }
    }

    .container .header_nav_logo.active {
        img {
            width: 275px;
            min-width: 0;
        }
    }

    .header-body {
        margin-top: 131px;
    }

    .header-body .subtitle {
        width: 330px;
        min-width: 200px;

        br {
            display: none;
        }
    }

    .awards {
        padding: 30px 0 0 0;
    }

    .awards-inner .awards-img_1 {
        margin-right: 48px;
    }

    .awards-inner .awards-list_1:before,
    .awards-inner .awards-list_2:before,
    .awards-inner .awards-list_3:before {
        margin-right: 11px;
    }

    .provides .provides-wrapper .provides_photo {
        max-width: 328px;
        min-width: 0;
        height: 100%;
    }

    .provides .provides-wrapper {
        margin-top: 130px;
    }

    .programe-title {
        margin-top: 312px;
    }

    .provides-wrapper_svg {
        justify-content: center;
    }

    .provides_enum_2,
    .provides_enum_3 {
        margin-top: 25px;
    }

    .price-inner {
        margin: 155px -64px;
    }

    .price-inner .price-imgs {
        padding: 0 10px;
    }

    .price-inner .price-imgs .price-img_1 {
        margin-right: 25px;
    }

    .price-img_1 img,
    .price-img_2 img {
        max-width: 100%;
        height: 457px;
    }

    .footer .footer_wrapper {
        min-height: 689px;
    }

    .footer .footer_inner-tablet,
    .footer_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer_wrapper .footer_inner,
    .footer .footer_contact_list_mail:before,
    .footer .footer_contact_list_fb:before,
    .footer .footer_contact_list_inst:before {
        display: none;
    }

    .footer .footer_contact_list {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer_icons {
        margin-top: 18px;
    }

    .footer_information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // Бургер
    .header_burger {
        display: block;
        position: absolute;
        width: 56px;
        height: 70px;
        top: 84px;
        top: 72px;
        right: 10px;
        z-index: 10;

        span {
            position: absolute;
            background-color: #000;
            height: 4px;
            left: 0;
            width: 56px;
            top: 33px;
            border-radius: 4px;
        }

        &:before,
        &:after {
            content: '';
            background-color: #000;
            position: absolute;
            width: 56px;
            height: 4px;
            left: 0;
            border-radius: 4px;
            transition: 0.2s ease-out;
        }

        &:before {
            top: 17px;
        }
    }

    .header_burger.active span {
        opacity: 0;
    }

    .header_burger.active:before {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    .header_burger.active:after {
        transform: rotate(-45deg) translate(-5px, 5px);
    }


    .header_nav_list ul {
        top: -200px;
        display: none;
    }

    .awards .title {
        margin-top: 0;
    }

    // Действия при открытом меню бургера
    body.open {
        overflow: hidden;
    }

    .container.open {
        background-color: #9D78FC;
        transition: 0.3s ease-out;
    }

    .header_nav_list ul.active {
        top: -28px;
        display: flex;
        flex-direction: column;
    }

    .header-body_desc.open,
    .header-body .subtitle.open {
        opacity: 0;
    }

    .header_nav.open {
        flex-direction: column;
    }

    .container .header_nav_list ul li:not(:last-child).open {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header_nav_list ul a.open {
        color: white;
        font-size: 22px;
    }


}

@media (max-width:668.98px) {
    .header-body {
        margin-top: 40px;
    }

    .header-body_desc {
        font-size: 52px;
    }
}

@media (max-width:613.98px) {
    .header_burger {
        right: -55px;
    }

    .header-body_desc {
        font-size: 46px;
    }

    .header-body .subtitle {
        font-size: 21px;
    }
}

@media (max-width:501.98px) {
    .container .header_nav_logo {
        background-size: 85%;
    }

    .header-body_desc {
        font-size: 41px;
    }

    .hero-section .spot {
        left: -105px;
    }

    .awards-inner .awards-img {
        flex-direction: column;
        align-items: center;

        &_1 {
            margin-right: unset;
        }
    }
}

// ===========================================================================//

@media (max-width:480.98px) {
    .container {
        max-width: 480px;
        padding: 0 10px;
    }

    .hero-section {
        height: 651px;
    }

    .hero-section .spot {
        background-image: url('../img/adaptive/adaptive-480px/spot.svg');
        width: 480px;
        height: 670px;
        left: unset;
        right: -10px;
    }
    .container .header_nav_logo {
        img {
            width: 275px;
        }
    }
    .header_burger {
        right: -3px;
        top: 68px;

        span {
            background-color: #FFFFFF;
            width: 51px;
            height: 3px;
        }

        &:before,
        &:after {
            background-color: #FFFFFF;
            width: 51px;
            height: 3px;
        }
    }

    .header-body_desc {
        font-size: 34px;
        margin-top: 22px;
    }

    .header-body .subtitle {
        width: 374px;
        font-size: 17px;
        margin-top: 20px;

        br {
            display: block;
        }
    }

    .awards {
        padding: 56px 0 0 0;
        position: relative;
        z-index: -10;
    }

    .awards-inner .awards-list {
        margin-top: 77px;
    }

    .awards-inner .awards-list_1:before,
    .awards-inner .awards-list_2:before,
    .awards-inner .awards-list_3:before {
        margin-right: 8px;
    }


    .provides .provides-wrapper .provides-title {
        font-size: 31px;
    }

    .provides-wrapper .provides-inner .provides-list {
        font-size: 21px;
    }

    .provides-wrapper .provides-inner .provides-list_1 {
        margin-top: 32px;
    }

    .provides-list_1::before,
    .provides-list_2::before {
        margin-right: 11px;
    }

    .programe-title {
        margin-top: 110px;
    }

    .provides_enum {
        font-size: 15px;
    }

    .provides_enum_1 {
        margin-top: 50px;
    }

    .provides_enum_2,
    .provides_enum_3 {
        margin-top: 17px;
    }

    .price-inner {
        margin: 120px 0;
        border-radius: 25px;
        height: 442px;
    }

    .price-inner .price-title {
        font-size: 51px;
        margin-top: 17px;
    }

    .price-inner .price-imgs {
        padding: 0;
        margin-top: 34px;
    }

    .price-inner .price-imgs .price-img_1 {
        margin-right: 16px;

    }

    .price-img_1 img,
    .price-img_2 img {
        width: 183px;
        height: 274px;
    }

    .footer {
        margin-top: 130px;
    }
}

@media (max-width:430px) {
    .container .header_nav_logo {
        img {
            width: 265px;
        }
    }

    .header-body .subtitle {
        max-width: 300px;

        br {
            display: none
        }
    }

    .header_burger {
        top: 63px;
    }

    .header-body_desc {
        font-size: 33px;
    }

    .awards .title {
        font-size: 52px;
    }

    .price-inner .price-imgs {
        padding: 0 5px;
    }
}

// ===================================================================//

@media (max-width:360.98px) {
    .container {
        max-width: 360px;
    }

    .header_nav_logo {
        height: 90px;
    }

    .header-body_desc {
        font-size: 31px;
    }

    .header-body .subtitle {
        font-size: 15px;
        min-width: 338px;

        br {
            display: block;
        }
    }

    .awards .title {
        font-size: 42px;

        span:after {
            content: url('../img/adaptive/adaptive-360px/dashicons_awards-360px.svg');
            transform: translate(6px, 4px);
        }
    }


    .awards-inner .awards-list {
        margin-top: 58px;
    }


    .awards-inner .awards-list {
        font-size: 17px;
        line-height: normal;
    }

    .awards-inner .awards-list_1,
    .awards-inner .awards-list_2 {
        margin-bottom: 14px;
    }


    .awards-inner .awards-list_1:before,
    .awards-inner .awards-list_2:before,
    .awards-inner .awards-list_3:before {
        margin-right: 6px;
    }


    .awards-inner .awards-list_1:before {
        content: url('../img/adaptive/adaptive-360px/red-square-360.svg');
    }


    .awards-inner .awards-list_2:before {
        content: url('../img/adaptive/adaptive-360px/green-square-360.svg');
    }


    .awards-inner .awards-list_3:before {
        content: url('../img/adaptive/adaptive-360px/gray-square-360.svg');
    }

    .provides .provides-wrapper {
        margin-top: 100px;
    }

    .provides .provides-wrapper .provides-title {
        font-size: 22px;
    }

    .provides-wrapper .provides-inner .provides-list {
        font-size: 15px;
    }

    .provides-list_1:before,
    .provides-list_2:before {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .provides-list_1:before {
        content: url('../img/adaptive/adaptive-360px/fluent_checkmark-square-24-regular.svg');
    }

    .provides-list_2:before {
        content: url('../img/adaptive/adaptive-360px/fluent_checkmark-square-24-regular-1.svg');
    }

    .programe-title {
        margin-top: 80px;
    }

    .provides_enum {
        font-size: 11px;
    }

    .provides_enum_2,
    .provides_enum_3 {
        margin-top: 13px;
    }

    .provides_enum_1:before,
    .provides_enum_2:before,
    .provides_enum_3:before {
        margin-right: 8px;
        width: 11px;
        height: 11px;
    }

    .provides_enum_1:before {
        content: url('../img/adaptive/adaptive-360px/red-square-360.svg');
    }

    .provides_enum_2:before {
        content: url('../img/adaptive/adaptive-360px/green-square-360.svg');
    }

    .provides_enum_3:before {
        content: url('../img/adaptive/adaptive-360px/gray-square-360.svg');
    }

    .provides-wrapper_svg {
        margin-top: 50px;
    }

    .price-inner {
        margin: 80px 0;
        height: 326px;
        border-radius: 19px;
    }

    .price-inner .price-imgs {
        margin-top: 25px;
    }

    .price-img_1 img,
    .price-img_2 img {
        width: 135px;
        height: 202px;
    }

    .footer {
        margin-top: 120px;
    }

    .footer .footer_contact_title {
        margin-top: 40px;
    }
}