@import '_reset';

body {
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    padding: 0 120px;
    margin: 0 auto;
}

.title {
    font-family: 'Quicksand';
    font-size: 56px;
    line-height: normal;
    font-weight: 700;
}

.header-body_desc {
    min-width: 778px;
    max-width: 896px;
}

.hero-section {
    position: relative;
    height: 961px;
}

.spot {
    position: absolute;
    background-image: url('../img/svg/spot.svg');
    background-repeat: no-repeat;
    width: 831px;
    height: 961px;
    left: -120px;
    z-index: -1;
}


.lamp {
    position: absolute;
    background-image: url('../img/svg/lamp.svg');
    background-repeat: no-repeat;
    width: 139px;
    height: 468px;
    top: -77px;
    left: 1052px;
    transition: 0.3s all;
    z-index: 1;

    &:hover {
        background-image: url('../img/svg/lamp-hover.svg');
    }

    &:after {
        content: url('../img/svg/Clock.svg');
        position: absolute;
        top: 425px;
        right: -121px;
        pointer-events: none
    }
}

.header_nav {
    display: flex;
    align-items: center;

    &_list {
        width: 100%;
    }

    &_logo {
        background-image: url('../img/svg/logo.svg');
        background-repeat: no-repeat;
        min-width: 336px;
        height: 121px;
        transition: 0.3s ease-out;
        margin-top: 53px;
        margin-right: 15.52%;

        img {
            display: none;
        }

        &:hover {
            background-image: url('../img/svg/logo_hover.svg');
        }
    }

    &_list ul {
        display: flex;
        transform: translateY(50%);
        position: relative;
        z-index: 3;
        text-transform: uppercase;

        li:not(:last-child) {
            margin-right: 10.2%; // margin-right: 84px;
        }

        a {
            color: #000;
            font-family: 'Open Sans';
            font-size: 18px;
            white-space: nowrap;
            transition: 0.1s ease;

            &:active {
                color: #F00;
            }
        }
    }
}

// 

.header_burger {
    display: none;
}

// 

.header-body {
    width: 100%;
    margin-top: 220px;

    .subtitle {
        width: 45%;
        min-width: 569px;
        color: #FFF;
        font-family: 'Quicksand';
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
        margin-top: 20px;
    }

}

.women {
    position: absolute;
    background-image: url('../img/svg/body_svg.svg');
    background-repeat: no-repeat;
    width: 488px;
    height: 324px;
    top: 500px;
    right: 0;
    transition: 0.3s ease-out;

    &:hover {
        background-image: url('../img/svg/body_svg_hover.svg');
        width: 488px;
        height: 324px;
    }
}


.awards {
    padding: 125px 0 0 0;

    .title {
        text-align: center;

        span {
            transition: 0.2s ease;

            &:after {
                content: url('../img/svg/dashicons_awards.svg');
                display: inline-block;
                transform: translate(10px, 5px);
            }

            &:hover {
                color: #FF0057;

                &:after {
                    content: url('../img/svg/dashicons_awards_hover.svg');
                }
            }
        }
    }
}

.awards-inner {
    display: flex;

    .awards-list {
        font-family: 'Quicksand';
        font-size: 32px;
        font-weight: 500;
        line-height: 50px;
        margin-top: 95px;

        &_1:before,
        &_2:before,
        &_3:before {
            margin-right: 23px;
        }

        &_1:before {
            content: url('../img/svg/red-square.svg');
        }

        &_2 {
            max-width: 868px;
            margin-right: 30px;
        }

        &_2:before {
            content: url('../img/svg/gray-square.svg');
        }

        &_3:before {
            content: url('../img/svg/green-square.svg');
        }
    }

    .awards-img {
        display: flex;
        margin-top: 94px;
        align-items: center;

        &_1 {
            margin-right: 70px;
            background-image: url('../img/svg/california.svg');
            background-repeat: no-repeat;
            width: 172px;
            height: 223px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-image: url('../img/svg/california_hover.svg');
                width: 191px;
                height: 223px;
            }
        }

        &_2 {
            background-image: url('../img/svg/fresnostate.svg');
            width: 201px;
            height: 201px;
            transition: 0.3s ease-in-out;

            &:hover {
                background-image: url('../img/svg/fresnostate_hover.svg');
                width: 215px;
                height: 215px;
            }
        }
    }
}



.provides {
    position: relative;

    .spot-mini {
        background-image: url('../img/svg/spotmini.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 341px;
        height: 756px;
        right: -120px;
        top: 63px;
    }
}

.provides-wrapper {
    display: flex;
    position: relative;
    margin-top: 211px;


    .provides-inner {
        .provides-title {
            font-family: 'Quicksand';
            font-size: 39px;
            font-weight: 700;

            span {
                transition: 0.3s ease-out;

                &:hover {
                    color: #C51230
                }
            }
        }

        .provides-list {
            font-family: 'Quicksand';
            font-size: 29px;
            line-height: normal;

            &_1,
            &_2 {
                display: flex;
                align-items: flex-start;
            }

            &_1 {
                margin-top: 50px;
            }

            &_2 {
                margin-top: 24px;
                max-width: 796px;
            }
        }
    }
}

.provides-list_1::before,
.provides-list_2::before {
    display: inline-block;
    margin-right: 15px;
    width: 44px;
    height: 44px;
}

.provides-list_1::before {
    content: url('../img/svg/fluent_checkmark-square-24-regular.svg');
    transform: translateY(6px);
}

.provides-list_2::before {
    content: url('../img/svg/fluent_checkmark-square--regular.svg');
}

.provides {
    &-wrapper_2 {
        display: flex;
    }

    &-wrapper_svg {
        margin-top: 222px;
        max-height: 359px;

        img {
            width: 100%;
        }
    }
}

.provides_photo {
    max-width: 502px;
    min-width: 400px;
    height: 564px;
    margin-right: 39px;

    img {
        width: 100%;
    }
}


.provides_enum {
    flex: 60%;
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 700;
    line-height: normal;

    &_1,
    &_2,
    &_3 {
        display: flex;
        align-items: center;
    }

    &_1 {
        margin-top: 45px;
    }

    &_1:before,
    &_2:before,
    &_3:before {
        margin-right: 12px;
        width: 15px;
        height: 15px;
    }


    &_1::before {
        content: url('../img/svg/red-square.svg');
    }

    &_2 {
        margin-top: 20px;
    }

    &_2::before {
        content: url('../img/svg/gray-square.svg');
    }

    &_3 {
        margin-top: 20px;
    }

    &_3:before {
        content: url('../img/svg/green-square.svg');
    }
}

.programe-title {
    font-family: 'Quicksand';
    font-size: 46px;
    font-weight: 700;
    margin-top: 192px;
    text-align: center;
    text-transform: uppercase;

    span {
        transition: 0.3s ease-out;

        &:hover {
            color: #C51230;
        }
    }
}

.price-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 122px;
    border-radius: 42px;
    background-color: #9D78FC;
    height: 738px;

    .price-title {
        color: #FFF;
        font-family: 'Quicksand';
        font-size: 85px;
        font-weight: 700;
        margin-top: 29px;
    }

    .price-imgs {
        display: flex;
        margin-top: 59px;

        .price-img {
            &_1 {
                margin-right: 47px;
            }
        }
    }
}


.footer {
    margin-top: 120px;
    background-color: #9D78FC;
    width: 100%;

    .footer_wrapper {
        width: 100%;
        min-height: 410px;

        .footer_inner {
            display: flex;
            justify-content: space-between;
            color: #FFF;
            font-family: 'Open Sans';
            font-size: 18px;
        }

        .designer {
            margin-top: 13px;
        }

        .designer-gmail,
        .footer_contact_list_pp {
            margin-top: 10px;

        }

        .logo {
            margin-top: 40px;

            .logotype {
                background-image: url('../img/svg/logo.svg');
                width: 336px;
                height: 121px;
                transition: 0.3s ease-out;

                &:hover {
                    background-image: url('../img/svg/logo_hover.svg');
                }
            }
        }
    }

    .footer_wrapper .designer {
        color: #FFF;
        font-family: 'Open Sans';
        font-size: 18px;
    }

    a[href^="mailto:"],
    .footer_contact_list_fb a,
    .footer_contact_list_inst a,
    .footer_contact_list_pp a {
        color: #FFF;
        font-family: 'Open Sans';
        font-size: 18px;

        &:active {
            color: #C51230;
        }
    }

    .footer_contact {
        color: #FFF;
        font-family: 'Open Sans';

        &_title {
            font-size: 40px;
            margin-top: 45px;
        }

        &_list {

            &_mail,
            &_fb,
            &_inst {
                display: flex;
                align-items: center;
            }

            &_mail,
            &_fb,
            &_inst {
                margin-top: 13px;
            }

            .footer_contact_list_mail:before,
            .footer_contact_list_fb:before,
            .footer_contact_list_inst:before {
                margin-right: 15px;
            }

            .footer_contact_list_mail:before {
                content: url('../img/svg/mail.svg');
                transform: translateY(2px)
            }

            .footer_contact_list_fb:before {
                content: url('../img/svg/fb.svg');
            }

            .footer_contact_list_inst:before {
                content: url('../img/svg/inst.svg');
            }
        }
    }

    // footer-for-tablet

    .footer_inner-tablet {
        display: none
    }

}

@import '_media';